div {
   display: inline-block;
   border: -0px solid white;
   width: 200px;
   height: 200px;
}
.vermelha {
   background-color:  red;
}
.azul {
   background-color:  blue;
}
.verde {
   background-color:  green;
}
.amarela {
   background-color:  yellow;
}
#canto {
   border: 1.5px solid black;
   font-weight: bold;
}